
* { margin: 0; padding: 0;}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.2em;

}

ul {
	
}

li {
	
}

h1, h2, h3, h4, h5, h6 {
		
}


h1 {
	font-size: 2em;
	font-weight: 700;
}
h2 {
	font-size: 1.6em;
	font-weight: 700;
}
h3 {
	font-size: 1.4em;
	font-weight: 700;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 0.8em;
}

h6, small {
	font-size: 0.7em;
}

p {
	line-height: 1.6em;
}